@import "tailwindcss";

@plugin "daisyui" {
  themes: light, dark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #4C22FF;
  --color-secondary: #EB0130;
  --color-accent: #F3F8FD;
  
}
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: false;
  --color-primary: #7C5CFF;
  --color-secondary: #EB0130;
  --color-black: white;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

.dm-sans-regular> {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}